@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

:root{
    --color-principal: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

.contenedor-app{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #CCC;
}

.contenedor-app--modo-oscuro{
    background-color: #222;
}

/* Header */

header{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cambio-de-tema{
    font-family: 'Quicksand';
    font-size: 5vh;
    position: fixed;
    top: 2vh;
    left: 2vh;
    color: var(--color-principal);
}

.perfil-jugador{
    display: flex;
    align-items: center;
    font-family: 'Quicksand';
    color: var(--color-principal);
}

/* Main */

main{
    flex: 7;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 6vh;
    font-family: 'Quicksand';
    color: var(--color-principal);
}

.tateti{
    width: 65%;
    height: 0;
    padding-bottom: 65%;
    position: relative;
}

.tateti__tablero{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tateti__casilla:nth-child(2)::before, .tateti__casilla:nth-child(3)::before{
    content: '';
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 2%;
    background-color: var(--color-principal);
}

.tateti__casilla:nth-child(4)::before, .tateti__casilla:nth-child(7)::before{
    content: '';
    position: absolute;
    border-radius: 10px;
    height: 2%;
    width: 100%;
    background-color: var(--color-principal);
}

.tateti__casilla-marcador{
    font-family: 'Quicksand';
    height: 100%;
    font-size: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herramientas{
    width: 50%;
    font-size: 8vh;
    display: flex;
    justify-content: space-evenly;
    color: var(--color-principal);
}

.fichas-jugador-1, .fichas-jugador-2{
    position: absolute;
    font-size: 5vh;
    font-family: 'Quicksand';
    color: var(--color-principal);
}

.fichas-jugador-1{
    left: 8%;
}

.fichas-jugador-2{
    right: 8%;
}

.contenedor-modal-ganador{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal-ganador{
    width: 80%;
    height: 70%;
    border-radius: 20px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    transition: .5s;
    margin-top: 150vh;
    max-width: 375px;
}

.modal-ganador--modo-oscuro{
    background-color: #222;
}

.modal-ganador__icono{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vh;
}

.modal-ganador__icono ion-icon:nth-child(2){
    position: absolute;
    font-size: 7vh;
    margin-top: -4vh;
}

.modal-ganador__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand';
}

.modal-ganador__texto h3{
    text-align: center;
    margin: 4vh 0;
}

.modal-ganador__texto h4{
    text-align: center;
    margin: 2vh 0;
}

.modal-ganador__texto h5{
    text-align: center;
    font-size: 3vh;
    margin: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--color-principal);
}

/* Footer */

footer{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contador-movimientos{
    width: 80%;
    max-width: 160px;
    height: 65%;
    max-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    border-radius: 10px;
    box-shadow: -3px 5px 10px var(--color-principal);
    font-family: 'Quicksand';
    font-size: 3vh;
    color: var(--color-principal);
}

.contador-movimientos--modo-oscuro{
    background-color: #444;
}

/* Media Queries */

@media screen and (orientation: landscape) {
    .contenedor-app{
        flex-direction: row;
    }
    .tateti{
        width: 40%;
        padding-bottom: 40%;
    }
}