@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.contenedor-app{
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */

header{
    flex: 2;
    background-color: red;
}

/* Main */

main{
    flex: 7;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 6vh;
    font-family: 'Quicksand';
}

.tateti{
    width: 65%;
    height: 0;
    padding-bottom: 65%;
    position: relative;
}

.tateti__tablero{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tateti__casilla:nth-child(2)::before, .tateti__casilla:nth-child(3)::before{
    content: '';
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 2%;
    background-color: #000;
}

.tateti__casilla:nth-child(4)::before, .tateti__casilla:nth-child(7)::before{
    content: '';
    position: absolute;
    border-radius: 10px;
    height: 2%;
    width: 100%;
    background-color: #000;
}

.herramientas{
    width: 50%;
    font-size: 8vh;
    display: flex;
    justify-content: space-evenly;
}

/* Footer */

footer{
    flex: 2;
    background-color: green;
}

/* Media Queries */

@media screen and (orientation: landscape) {
    .contenedor-app{
        flex-direction: row;
    }
    .tateti{
        width: 40%;
        padding-bottom: 40%;
    }
}